* {
  font-family: "Poppins", sans-serif;
}

.cardz:hover {
  box-shadow: rgb(255, 196, 0) 0px 20px 30px -10px;
  color: rgb(255, 196, 0);
}

.cardz {
  transition: 0.3s;
}

.userLink {
  color: rgb(250, 171, 0);
  text-decoration: none;
}

.userLink:hover {
  color: rgb(236, 232, 22);
}

.foto {
  transition: transform 0.4s;
}

.foto:hover {
  transform: scale(1.2) rotate(0.01deg);
}
